
<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <meta name="keywords" content="{{keywords}}" />
    <meta name="description" content="desc" />
    <link rel="shortcut icon" href="https://www.alibaba.com/favicon.ico" type="image/x-icon" />
    <link href="//dn-staticfile.qbox.me/twitter-bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container theme-showcase">
      {% block body %}{% endblock %}
    </div>
    <footer class="footer">
      <div class="container">
        <div class="copyright">AIS@UED</div>
      </div>
    </footer>
    <script src="//dn-staticfile.qbox.me/jquery/1.9.0/jquery.min.js"></script>
    <script src="//dn-staticfile.qbox.me/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
